#left-margin {
  background-color: gray;
  width: 20%;
  height: 100vh;
  float: left;
}
#right-margin {
  background-color: gray;
  width: 20%;
  height: 100vh;
  float: right;
}

#border {
  background-color: rgb(60, 60, 128);
  border-top: 2px solid black;
  /* height: 100vh; */
}

#desc {
  color: white;
  float: left;
  padding: 2.5%;
  width: 18%;
}
#border #desc .color {
  color: white;
  font-size: 150%;
  text-align: center;
}
#border #desc .clr-chng {
  color: red;
  font-size: 90%;
}
#border #desc .size {
  font-size: 85%;
}
#contact {
  color: white;
  float: right;
  padding: 2%;
  width: 18%;
  align-items: right;
  line-height: 150%;
  padding-right: 3%;
}
img {
  border-radius: 50%;
}

#edu {
  /* float: left; */
  background-color:rgb(246, 246, 246);
  padding-left: 23%;
  font-size: 110%;
  width: 25%;
}

#edu .small {
  font-size: 80%;
  color: red;
}
.small_2 {
  font-size: 80%;
}

#left {
  float: left;
  width: 28%;
  background-color: yellow;
  border: 2px solid black;
}

#left .setting{
  padding: 10%;
 font-size: 130%;
}

#right{
color: white;
padding: 1%;
list-style-type: none;
}

#right .setting1{
  padding: 10%;
  font-size: 110%;
}

#right .small_3{
  font-size: smaller;
  list-style-type: none;
  
}