.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(6, 6, 85);
    color: white;
  }
  
  .intro {
    padding: 3%;
  }
  .pic {
    border-radius: 50%;
    padding: 6%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  
  .intro .color {
    font-size: 200%;
  }
  
  .intro .clr-chng {
    color: red;
    font-size: 150%;
  }
  
  .contact {
    font-size: 120%;
    padding: 3%;
  }
  .container_2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .head {
    font-size: 200%;
  }
  
  .small {
    font-size: 120%;
    color: red;
  }
  
  .small_2 {
    font-size: 120%;
  }
  .list {
    border: 2px solid black;
    display: inline-block;
    padding: 1%;
    background-color: rgb(0, 0, 131);
    color: white;
    margin: 1%;
  }
  
  .small_3 {
    font-size: 120%;
  }
  .line {
    display: inline-block;
  }
  .rem {
    list-style-type: none;
  }
  