<%  include('head')  %>
<div class="about-back">
<div class="about-head">
    <i><h1>All We Do Care About Is You</h1></i>
</div>

<div class="main-about container d-flex justify-content-around">
    <div class="mission">
        <h3>Our Mission</h3>
        <br>
        <p><i><q>We strive to offer our customers the lowest possible prices, <br>
        the best available selection, and the utmost convenience. Vision statement: <br>
        To be Earth's most customer-centric company, where customers can
        find  and discover anything they might want to buy online.</q></i></p>
        <br>
        <p>Circln is guided by four principles: customer obsession rather 
            <br>
            than competitor focus, passion for invention, commitment to operational excellence,
            <br>
            and long-term thinking. Amazon strives to be Earth’s most customer-centric company,
            Earth’s best employer, and Earth’s safest place to work.</p>
    </div>

    <div>
        <img src="../images/about.jpg" alt="" width="60%">
    </div>
</div>
</div>

<%  include('end')  %>