<% include('head') %>

<div class="contact">
<div class="text">
<h1>Contact Us</h1>
<p>
UAN: 92-21-111-111-111-1
<br>
Address: 123, Street 1, Block 1, Sector 1, Islamabad, Pakistan
<br>
For any questions or concerns, please contact us at <a class="mail" href="mailto:info@circln.com">Circln</a>
</p>
</div>
</div>

<% include('end') %>