<% include('head') %>

<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    We are giving 50% off 
  </div>

  <div class="home-back">
    <div class="back-text">
    <h1>We Are the pioneers of what we do</h1>
    <p><i>Successful And Gentle</i></p>
    </div>
  </div>

  <div class="d-flex justify-content-around pt-5 pb-5 ">
    <div class=" pic-text pt-1">
      <img class="pt-4 pb-3" src="/images/add.jpeg" alt="" width="50%">
      <h1>ADD A CATEGORY</h1>
      <p>Please Click on the button below to add a category</p>
      <a href="/add-category"><button class="cat-btn">Add Category</button></a>
    </div>
    <div class="pic-text">
      <img src="/images/view-logo.png" alt="">
      <h1>View Products</h1>
      <p>Please Click on the button below to view products</p>
      <a href=""><button class="cat-btn">View Products</button></a>
    </div>
  </div>

<% include('end') %>